/* ! CSS Used from: Embedded */

h3, h5, button {
  font-family: Montserrat,sans-serif;
}

h3 {
  font-size: 40px;
}

h5 {
  font-size: 22px;
}

/* ! CSS Used from: https://styles.luxurypresence.com/masterpiece/index.css */

* {
  box-sizing: border-box;
}

footer {
  overflow-x: hidden;
  position: relative;
}

h3, h5 {
  color: inherit;
  text-rendering: optimizeLegibility;
}

img {
  margin-bottom: 0;
}

ul {
  list-style-image: none;
  list-style-position: outside;
  margin-left: 1.666rem;
}

li {
  margin-bottom: .833rem;
}

ul li {
  padding-left: 0;
}

footer {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: unset;
}

a:active, a:hover {
  outline-width: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button, input {
  font: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.lp-i {
  display: inline-block;
  line-height: 1;
}

.lp-i:before {
  background-color: currentColor;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 1em;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  vertical-align: top;
  width: 1em;
}

.lp-i--spin {
  animation: i-spin 2s linear infinite;
}

.lp-tcr-content {
  align-items: flex-start;
  display: flex!important;
  text-transform: none!important;
}

.lp-tcr-checkbox > input {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  margin-right: .7em;
  vertical-align: text-bottom;
}

.lp-disclaimer {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: justify;
}

.lp-disclaimer a {
  color: inherit;
  text-decoration: underline!important;
  transition: opacity .3s;
}

.lp-disclaimer a:hover {
  color: inherit;
  opacity: .8;
  text-decoration: underline!important;
}

.lp-h3, .lp-h5, button, h3, h5 {
  font-family: var(--global-primary-font-family);
}

[class*=button-style-]:disabled {
  cursor: auto;
  opacity: .3;
  pointer-events: none;
}

.lp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1348px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.h-pot {
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.hide {
  display: none;
}

.lp-h3, h3 {
  font-size: var(--global-h3-font-size,40px);
  font-weight: 400;
  letter-spacing: 0;
  /*line-height: 1.2;*/
}

@media (max-width:1024px) {
  .lp-h3, h3 {
    font-size: 28px;
    /*line-height: 1.29;*/
  }
}

.lp-h5, h5 {
  font-size: var(--global-h5-font-size,22px);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.36;
}

@media (max-width:1024px) {
  .lp-h5, h5 {
    font-size: 20px;
    line-height: 1.4;
  }
}

.lp-btn {
  background-image: none;
  border: 2px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: var(--global-secondary-font-family-short,sans-serif);
  font-size: 14px;
  line-height: 1.3;
  max-width: 100%;
  overflow: hidden;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: unset;
  font-weight: 600;
}

.lp-btn:focus {
  outline: none;
}

@media (hover:hover)and (pointer:fine) {
  .lp-btn:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.lp-btn:disabled {
  cursor: default;
  opacity: .4;
  pointer-events: none;
}

.lp-btn.lp-btn--dark.lp-btn--outline {
  background: transparent;
  border-color: var(--themeBlack,#211f1f);
  color: var(--themeBlack,#211f1f);
}

@media (hover:hover)and (pointer:fine) {
  .lp-btn.lp-btn--dark.lp-btn--outline:hover {
    background-color: var(--themeBlack,#211f1f);
    border-color: var(--themeBlack,#211f1f);
    color: var(--themeWhite,#fff);
  }
}

.lp-btn.lp-btn--dark.lp-btn--outline:disabled {
  background: transparent;
  border-color: rgba(31,31,31,.4);
  color: rgba(31,31,31,.4);
}

.lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2) {
  -webkit-font-smoothing: unset;
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: .3s linear;
}

.lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2):after, .lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2):before {
  background: currentColor;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: .3s linear;
  width: 0;
}

.lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2):before {
  opacity: .3;
  width: 100%;
}

@media (hover:hover)and (pointer:fine) {
  .lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2):hover:after {
    width: 100%;
  }
}

@media (hover:none)and (pointer:coarse) {
  .lp-a a:not(.hyperlink-style-1):not(.hyperlink-style-2):after {
    display: none;
  }
}

.lp-input {
  background: transparent;
  border: 1px solid rgba(31,31,31,.2);
  border-radius: 0;
  box-shadow: none;
  color: #1f1f1f;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 100%;
  min-width: 200px;
  padding: 10px 20px;
  transition: all .3s;
  vertical-align: top;
}

.lp-input:active, .lp-input:focus {
  border-color: #1f1f1f;
  color: #1f1f1f;
  outline: none;
}

.lp-input::placeholder {
  color: inherit;
  opacity: .5;
}

.lp-input--dark {
  border-color: rgba(31,31,31,.2);
  color: #1f1f1f;
}

.lp-input--dark:active, .lp-input--dark:focus {
  border-color: #1f1f1f;
  color: #1f1f1f;
}

.lp-socials {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lp-socials__link {
  align-items: center;
  background: var(--themeBeige);
  border: 1px solid var(--themeBeige);
  border-radius: 50%;
  color: var(--themeWhite);
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
  transition: all .3s;
  width: 40px;
}

@media (hover:hover)and (pointer:fine) {
  .lp-socials__link:hover {
    background: transparent;
    color: var(--themeBeige);
  }
}

.lp-socials li {
  margin-bottom: 0;
  margin-right: 14px;
}

.lp-socials li:last-of-type {
  margin-right: 0;
}

/* ! CSS Used from: Embedded */

#global-footer .site-footer__disclaimer {
  opacity: 1;
  color: #929395;
}

.footer-navigation__link:hover {
  color: #BDB18A!important;
}

h3 {
  /*text-transform: uppercase;*/
}

/* ! CSS Used from: Embedded */

footer {
  background-color: #ffffff;
  color: #14171A;
  --fontColor: #14171A;
  --fontColor_H: 210;
  --fontColor_S: 13%;
  --fontColor_L: 9%;
  --fontColor_A: 1;
  --fontColor_darkenDir: 1;
  --bgColor: #ffffff;
  --bgColor_H: 0;
  --bgColor_S: 0%;
  --bgColor_L: 100%;
  --bgColor_A: 1;
  --bgColor_darkenDir: -1;
}

footer .lp-input--dark {
  background-color: #fff;
}

footer .site-footer__subscribe {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  footer .site-footer__subscribe {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

footer .site-footer__logo-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 64px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer .site-footer__logo-bar {
    padding-bottom: 24px;
  }
}

footer .site-footer__logo-container img {
  max-width: 268px;
  /*max-height: 56px;*/
  object-fit: contain;
  display: block;
  object-position: left top;
}

footer .site-footer__logo-container + .site-footer__logo-container {
  margin-left: 50px;
}

@media (max-width: 768px) {
  footer .site-footer__logo-container + .site-footer__logo-container {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
}

footer .site-footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  footer .site-footer__info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

footer .site-footer__info .lp-a a {
  white-space: nowrap;
}

footer .site-footer__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*padding-right: 32px;*/
}

footer .site-footer__col-title {
  width: 100%;
  margin-bottom: 16px;
  min-height: 29px;
}

footer .site-footer__col-content {
  opacity: 0.5;
  padding-bottom: 16px;
}

footer .site-footer__col-content p {
  margin-bottom: 0;
}

footer .site-footer__col-content a {
  color: inherit;
}

footer .site-footer__navigation-wrap {
  width: 100%;
  padding-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 992px) {
  footer .site-footer__navigation-wrap {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 18px;
  }
}

@media (max-width: 768px) {
  footer .site-footer__navigation-wrap {
    padding-top: 24px;
    padding-bottom: 0;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}

footer .site-footer__socials {
  margin-left: auto;
}

@media (max-width: 992px) {
  footer .site-footer__socials {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  footer .site-footer__socials {
    margin-right: auto;
  }
}

footer .site-footer__socials li {
  margin-bottom: 0;
}

footer .site-footer__disclaimer {
  padding-top: 64px;
  padding-bottom: 32px;
  position: relative;
  opacity: 0.5;
}

@media (max-width: 768px) {
  footer .site-footer__disclaimer {
    padding-top: 18px;
    padding-bottom: 25px;
  }
}

footer .site-footer__disclaimer:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0.2;
}

footer .site-footer__copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  font-size: 18px;
}

@media (max-width: 768px) {
  footer .site-footer__copy {
    padding-top: 15px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  footer .site-footer__copy > div:first-child {
    margin-bottom: 15px;
  }
}

footer .site-footer__copy a {
  color: inherit;
}

footer .site-footer__copy-lp span {
  margin-right: 5px;
}

@media (min-width: 769px) {
  footer .site-footer__copy-lp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

footer .site-footer__bottom {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (max-width: 768px) {
  footer .site-footer__bottom {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

footer .footer-navigation {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px 0 0;
  margin: 0 -30px;
}

@media (max-width: 992px) {
  footer .footer-navigation {
    margin-bottom: 36px;
  }
}

@media (max-width: 768px) {
  footer .footer-navigation {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 36px;
  }
}

footer .footer-navigation__item {
  margin: 0 30px;
}

@media (max-width: 768px) {
  footer .footer-navigation__item {
    margin: 0 0 10px;
  }
}

footer .footer-navigation__link {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media (hover: hover) and (pointer: fine) {
  footer .footer-navigation__link:hover {
    color: var(--themeBeige);
  }
}
